@use "../colors" as *; 

.mainContainer {
	position: relative;
	width: 100%;

	img {
		width: 100%;
		cursor: pointer;

		&:hover {
			filter: brightness(0) saturate(100%);
		}
	}

	.numberOfItems {
		position: absolute;
		top: -25%;
		right: -30%;
		width: 2.5rem;
		padding: 0.15rem 0rem 0.15rem 0rem;
		color: white;
		font-family: 'Kumbh Sans', sans-serif;
		font-weight: 700;
		font-size: 1.45rem;
		text-align: center;
		background-color: $Orange;
		border-radius: 15px;

	}

	.hide {
		display: none;
	}
}