@use "../colors" as *;

.mainContainer{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 14vh;
	border-bottom: 1px solid $GrayishBlue;
}

.logoMenuContainer {
	display: flex;
	align-items: center;

	.logoImg {
		width: 11vw;
	}

	.menuContainer {
		margin-left: 3rem;
	}
}

.cartProfileContainer{
	display: flex;
	align-items: center;

	.cartContainer {
		width: 3rem;
	}

	.profileContainer {
		margin-left: 5rem;

		img {
			width: 4.2vw;
			border-radius: 100%;
			cursor: pointer;

			&:hover {
				border: 2px solid $Orange;
			}
		}
	}
}

@media(max-width: 1050px) {

	.logoMenuContainer {
		
		.logoImg {
			width: 30vw;
			order: 2;
			margin-left: 2rem;
		}

		.menuContainer{
			width: 5vw;
			order: 1;
			margin-left: 0rem;
			padding-top: 0.6rem;
		}
	}

	.cartProfileContainer{
	
		.cartContainer {
			width: 3.5rem;
		}
	
		.profileContainer {
			margin-left: 3rem;
	
			img {
				width: 6vw;
			}
		}
	}
}

@media(max-width: 1000px) {

	.mainContainer{
		align-items: normal;
		height: 11rem;
		border-bottom: 0px;
	}

	.logoMenuContainer {
		
		.logoImg {
			width: 32vw;
			margin-left: 2rem;
		}

		.menuContainer{
			width: 5.5vw;
			padding-top: 0.3rem;
		}
	}

	.cartProfileContainer{

		.cartContainer {
			width: 3.5rem;
		}
	
		.profileContainer {
			margin-left: 2.5rem;
	
			img {
				width: 6.5vw;
			}
		}
	}
}

@media(max-width: 400px) {

	.mainContainer{
		height: 7rem;
	}

	.logoMenuContainer {
		
		.logoImg {
			width: 38vw;
			margin-left: 1rem;
		}

		.menuContainer{
			width: 6vw;
		}
	}

	.cartProfileContainer{

		.cartContainer {
			width: 2.5rem;
		}
	
		.profileContainer {
			margin-left: 2rem;
	
			img {
				width: 8.5vw;
			}
		}
	}
}