@use "../colors" as *;

.mainContainer {
	width: 100%;
	position: static;

	.mainImg, .mainImgLBContainer {
		width: 100%;
		border-radius: 15px;
		overflow: hidden;

		img {
			width: 100%;
			cursor: pointer;
		}
	}

	.thumbnails, .thumbnailsLB {
		display: flex;
		column-gap: 4.26%;
		width: 100%;
		margin-top: 2rem;

		.thumbnail, .thumbnailLB {
			width: 21.8%;
			cursor: pointer;
			border-radius: 15px;
			overflow: hidden;
			transition-property: opacity;
			transition-duration: 500ms;


			img {
				width: 100%;
				height: 100%;
				transition-property: opacity;
				transition-duration: 500ms;

				&:hover {
					opacity: 60%;
				}
			}
		}

		.selectedThumbnail, .selectedLBThumbnail {
			border: 3px solid $Orange;
			
			img {
				opacity: 35%;
				height: 100%;
			}
		}
	}
}

.lightBoxContainer {
	position: fixed;
	top: 0%;
	left: 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: $BlackLightboxBackground;
	z-index: 2;

	.mainImgLBContainer {
		position: relative;
		overflow: visible;
		width: 30%;
		margin-top: 5rem;

		.mainImgLB {
			border-radius: 15px;
			cursor: default;
		}

		.closeX {
			position: absolute;
			top: -10%;
			right: 0%;
			width: 20px;
			transition-property: filter, scale;
			transition-duration: 0.5s;

			&:hover {
				filter: invert(74%) sepia(62%) saturate(588%) hue-rotate(347deg) brightness(100%) contrast(102%);
				scale: 125%;
			}
		}

		.previous, .next {
			position: absolute;
			top: 45%;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
			height: 50px;
			background-color: $White;
			border-radius: 100%;
			cursor: pointer;
			user-select: none;

			img {
				width: 15px;
				height: 15px;
				transition-property: filter, scale;
				transition-duration: 0.5s;
			}

			&:hover {

				img {
					filter: invert(74%) sepia(62%) saturate(5388%) hue-rotate(347deg) brightness(100%) contrast(102%);
					scale: 125%;
				}
			}
		}

		.previous {
			left: -25px;
		}

		.next {
			right: -25px;
		}
	}

	.thumbnailsLB {
		width: 30%;
		
		.thumbnailLB{
			background-color: $White;
			height: 97.9%;
		}
	}
}

.hide {
	display: none;
}

@media(max-width: 1000px) {

	.mainContainer {
		
		.mainImg {
			display: none;
		}

		.thumbnails, .thumbnailsLB {
			display: none;
		}

	}

	.hide {
		display: block;
	}

	.lightBoxContainer {
		position: static;
		display: block;
		width: 100%;
		height: 100%;
		background-color: transparent;
		z-index: 0;
	
		.mainImgLBContainer {
			width: 100%;
			margin-top: 0rem;
	
			.closeX {
				display: none;
			}
	
			.previous, .next {
				top: 42%;
				width: 40px;
				height: 40px;
	
				img {
					width: 10px;
					height: 10px;

				}
			}
	
			.previous {
				left: 3px;
			}
	
			.next {
				right: 3px;
			}
		}
	}
}

@media(max-width: 400px) {

	.lightBoxContainer {

		.mainImgLBContainer {
			width: 100%;

			.mainImgLB {
				border-radius: 0px;
				width: 100%;
			}
	
			.previous, .next {
				top: 45%;
				width: 30px;
				height: 30px;
				z-index: 1;
	
				img {
					width: 10px;
					height: 10px;

				}
			}
	
			.previous {
				left: 20px;
			}
	
			.next {
				right: 20px;
			}
		}
	}	
}